In [2]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [4]:

# load reviews & content csvs
pwd = os.getcwd()

reviews = pd.read_csv('ratings_cleaned.csv')
content = pd.read_csv('df_eng.csv')

In [5]:
reviews.head()

           user_id                book_id  rating
0     613434-linda  77203.The_Kite_Runner       1
1         31207039  77203.The_Kite_Runner       5
2  84023-j-g-keely  77203.The_Kite_Runner       2
3    616569-britta  77203.The_Kite_Runner       5
4      91373-chris  77203.The_Kite_Runner       1

In [6]:
# I want to add the content to the reviews dataframe based on the key column 'book_id'
df_merged = pd.merge(reviews, content, on='book_id', how='left')

In [7]:
df_merged.describe()

,rating_x,price,series,current_readers,wanted_to_read,num_reviews,num_ratings,rating_y,awards,popularity,...,publisher_Tor Books,publisher_University of Chicago Press,publisher_Viking,publisher_Vintage,publisher_Vintage Crime/Black Lizard,publisher_W. W. Norton Company,publisher_W. W. Norton & Company,publisher_Warner Books,publisher_William Morrow,publisher_William Morrow Paperbacks
count,114461.000000,103514.000000,110880.000000,110880.000000,1.108800e+05,110880.000000,1.108800e+05,110880.000000,110880.000000,1.108800e+05,...,110880.000000,110880.000000,110880.000000,110880.000000,110880.000000,110880.000000,110880.000000,110880.000000,110880.000000,110880.000000
mean,3.798761,8.056597,0.513835,3160.564962,6.725547e+04,5823.727354,1.382160e+05,3.996071,1.191396,3.574395e+04,...,0.007206,0.001596,0.003788,0.016477,0.002706,0.002940,0.001894,0.001948,0.005411,0.003923
std,1.294414,5.213179,0.499811,12826.386265,1.791437e+05,15369.226046,4.783080e+05,0.276683,2.606676,1.076124e+05,...,0.084582,0.039922,0.061429,0.127302,0.051945,0.054143,0.043478,0.044094,0.073362,0.062512
min,0.000000,0.490000,0.000000,-1.000000,-1.000000e+00,1.000000,1.000000e+00,1.000000,0.000000,5.000000e-01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,5.544086,0.000000,0.000000,0.000000e+00,141.000000,1.312000e+03,3.820000,0.000000,2.541567e+02,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,6.990000,1.000000,0.000000,0.000000e+00,703.000000,9.038000e+03,4.010000,0.000000,2.474687e+03,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,5.000000,9.990000,1.000000,0.000000,3.962500e+04,3671.000000,6.127425e+04,4.180000,1.000000,1.871524e+04,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,221.490000,1.000000,207000.000000,2.000000e+06,199422.000000,9.208051e+06,5.000000,41.000000,1.760151e+06,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
df_merged.isna().sum()

user_id                                    0
book_id                                    0
rating_x                                   0
price                                  10947
series                                  3581
                                       ...
publisher_W. W. Norton  Company         3581
publisher_W. W. Norton & Company        3581
publisher_Warner Books                  3581
publisher_William Morrow                3581
publisher_William Morrow Paperbacks     3581
Length: 1318, dtype: int64

In [9]:

# userID	itemID	rating	timestamp
# 0	1	1193	5.0	978300760
# 1	1	661	3.0	978302109
# 2	1	914	3.0	978301968
# 3	1	3408	4.0	978300275
# 4	1	2355	5.0	978824291